.button-add{
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    background-color: #211B62;
    transition: all 10ms;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
        text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.35);
    }
}

.button-go-back{
    height: fit-content;
    width: fit-content;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    transition: all 10ms;
    background: none;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
        text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.35);
    }
}