.card-information{
    font-size: 14px;
    font-weight: 800;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px;
    background: linear-gradient(86.25deg, #F2994A 9.35%, #F2C94C 99.11%);
    box-shadow: -18px 9px 19px rgba(243, 156, 75, 0.13);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
    transition: all 0.1s;
    .card-horizontal-line{
        background-color: white;
        height: 2px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .card-text{
        margin-bottom: 10px;
    }
    &:hover{
        cursor: pointer;
        transform: scale(1.02);
    }
}

a{
    text-decoration: none;
    color: white;
}