#list-deportations{
    margin-top: 8px;
    .card-deportation{
        background-color: #2c238c;
        padding: 6px;
        border-bottom: 2px solid #2B2480;
        border-radius: 6px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        transition: all 20ms;
        &:hover{
            background: linear-gradient(rgb(67, 55, 200), rgb(59, 48, 175));
            transform: scale(1.02);
            cursor: pointer;
            text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.35);
        }
        .number-groups{
            margin-left: auto;
        }
    }
}