@font-face {
    font-family: 'Feral' ;
    src: url('../../backend/resources/ofont.ru_Acherus\ Feral.ttf');
}

body{
    font-family: Feral;
    margin: 0px;
}

html, body, main {
    width: 100%;
    height:100%;
}

input[type="radio"]{
    display: none;
}
main{
    position: relative;
    display: grid;
    grid-template-columns: calc(100% - 400px) 400px;
    .container{
        background-color: #F7F8FF;
        .information{
            margin: 10% 25% 10% 25%;
        }
    }
    .registration-container{
        .switch{
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            input[type="radio"]:checked+.switch-client-radio{
                background-color: rgb(38, 148, 250);
                border-bottom: 2px solid rgb(25, 121, 210);
                border-top: 2px solid rgb(25, 121, 210);
            }
            .switch-client-radio{
                
                background-color: rgb(29, 123, 211);
                color: white;
                border-bottom: 2px solid rgb(17, 88, 155);
                border-top: 2px solid rgb(17, 88, 155);
                padding: 5px;
                cursor: pointer;
            }
        }
        .registration{
            background-color: white;
            margin: 60px;
            .registrationForm{
                display: grid;
                & span{
                    margin-top: 15px;
                }
                & button{
                    margin-top: 20px;
                }
                .contract{
                    display: grid;
                    grid-template-columns: 30px auto;
                }
            }
        }
    }
}

