@import url(./theme.scss);
@font-face {
    font-family: 'zona';
    src: url('../fonts/ZonaPro-Light.ttf');
}

#root{
    margin: 0;
    font-family: 'zona' ;
    font-weight: 500;
    font-size: 18px;
    color: var(--font-color);
    background-color: var(--main-color-2);
    margin: 0;
    display: flex;
    min-height:100vh;
}

button, a {
    transition: all 10ms;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
    }
}