:root{
    --main-color-1: #473DC9;
    --main-color-2: #3d33b9;
    --main-color-3: #362ea5;
    --main-color-4: #302891;

    --main-dark-color-1: #1C1483;
    --main-dark-color-2: #17116d;
    --main-dark-color-3: #130d57;
    --main-dark-color-4: #0e0a41;

    --accent-color-1: #FFF131;
    --accent-color-2: #ffef18;
    --accent-color-3: #fdec00;
    --accent-color-4: #e4d400;
   
    --accent-dark-color-1: #FFAC31;
    --accent-dark-color-2: #ffa218;
    --accent-dark-color-3: #fd9700;
    --accent-dark-color-4: #e48800;
  
    --font-color: #fff;
    --font-dark-color: rgb(204, 204, 204);
 
}