#main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
}

#wrapper_users {
  padding: 15px;
  -webkit-box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.15);
  background-color: #352C9F;
}

#wrapper_users #list_users {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  gap: 3px;
}

#wrapper_users #list_users .card_user {
  background-color: #2c238c;
  padding: 6px;
  border-bottom: 2px solid #2B2480;
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 20ms;
  transition: all 20ms;
}

#wrapper_users #list_users .card_user:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#4337c8), to(#3b30af));
  background: linear-gradient(#4337c8, #3b30af);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.35);
}

#wrapper_users #list_users .card_user .user_name {
  font-size: 16px;
}

#wrapper_users #list_users .card_user .created {
  margin-left: 5px;
  color: #b3b3b3;
  margin-top: 3px;
  font-size: 10px;
  font-style: italic;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: white;
  margin-top: 20px;
  margin-bottom: 2px;
}

.container .title {
  font-size: 25px;
}

.container .button_add {
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bolder;
  background-color: #211B62;
  -webkit-transition: all 10ms;
  transition: all 10ms;
}

.container .button_add:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.35);
}

.nav {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
  color: #d6d6d6;
}

.nav .button_go_back {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: bolder;
  -webkit-transition: all 10ms;
  transition: all 10ms;
  background: none;
}

.nav .button_go_back:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.35);
}

.search {
  border: 2px solid #2B2480;
  border-radius: 8px;
  padding: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20px;
      grid-template-columns: auto 20px;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.search input {
  all: unset;
  text-decoration: none;
  background: none;
  border: none;
  height: 22px;
  font-size: 12px;
  padding: 4px;
}

.search input::-webkit-input-placeholder {
  color: #adadad;
}

.search input:-ms-input-placeholder {
  color: #adadad;
}

.search input::-ms-input-placeholder {
  color: #adadad;
}

.search input::placeholder {
  color: #adadad;
}

.search i {
  color: #adadad;
}
/*# sourceMappingURL=UserManagement.module.css.map */